* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d9dbf1;
  color: white;
  text-align: center;
}

.tracker {
  height: 100vh;
  margin: 0 auto;
  background-color: #8e9dcc;
}

.container {
  padding: 40px 0;
  background-color: #8e9dcc;
}

.tracker__title {
  margin-bottom: 20px;
  font-weight: 400;
}

.tracker__item__name {
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .tracker__title {
    margin-bottom: 40px;
  }

  .tracker__item__name {
    font-size: 18px;
  }
}
